* {
    transition: all 0.3s ease-in-out;
  }
  
  body {
    background: #008888;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  .card {
    background: #fdfdfd;
    border-radius: 4px;
    height: 85vh;
    width: 80vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .8em;
    overflow: hidden;
  }
  
  @media only screen and (min-width: 1000) {
    .card {
      flex-direction: row-reverse;
    }
    .card img.christmas {
      width: 100%;
      max-width: 50vw;
      max-height: unset;
    }
  }
  
  @media only screen and (max-height: 600px) {
    .card {
      flex-direction: row-reverse;
    }
    .card img.christmas {
      width: 100%;
      max-width: 50vw;
      max-height: unset;
    }
  }
  
  img.christmas {
    max-height: 40vh;
    
  }
  
  .text {
    padding: 1em;
  }
  
  .muted {
    opacity: 0.8;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.5em;
  }
  
    h1 {
      color: red;
      font-weight: bolder;
  }

  h3 {
      color: green;
  }